$title: #333333;
$edit: #626262;
$formInfo: #90909e;
$title8: #888888;
$account: #4e4e4e;
$content-blue: #0157ff;

$list: (xs: 10, sm: 12, md: 14, lg: 16, xl: 18);

@each $name, $size in $list {
  .font-#{$name} {
    font-size: #{$size}px;
  }
}

.content-T {
  color: $title;
}

.content-E {
  color: $edit;
}

.content-F {
  color: $formInfo;
}

.content-8 {
  color: $title8;
}

.content-9 {
  color: #999999;
}

.content-blue {
  color: $content-blue;
}

.content-4e {
  color: $account;
}

.bold {
  font-weight: 700;
}
