// 通用样式
$themeBlue: #0157ff;
$blue_flag: #2882ff;
$hoverbg: #f6f9ff;
$border-b: #f1f1f1;
$text: #626262;

// 蓝标

.blue_flag {
  border-left: 3px solid $blue_flag;
}

// button

@mixin btn($width, $height, $radius, $color, $name, $hoverColor : $themeBlue) {
  width: $width;
  height: $height;
  line-height: $height;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: $radius;
  color: $color;
  transition: $name .3s linear;
  &:hover {
    color: $hoverColor;
    background: $hoverbg;
  }
  &:active {
    color: $hoverColor;
    background: $hoverbg;
  }
}

.edit {
  @include btn(70px, 28px, 14px, $text, background-color);
}

.formbtn {
  @include btn(100%, 35px, 2px, $themeBlue, all);
  font-size: 16px;
  border: 1px solid $themeBlue;
}
