$justify-content: (start: start, end: end, center: center, spacebet: space-between, spacearo: space-around);
$align-items: start, end, center, baseline, stretch;
$flex-direction: (row: row, row-re: row-reverse, col: column, col-re: column-reverse);

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@each $name, $val in $justify-content {

  .flex-#{$name} {
    display: flex;
    justify-content: $val;
  }

  @each $name2 in $align-items {
    .flex-#{$name}-#{$name2} {
      display: flex;
      justify-content: $val;
      align-items: $name2;
    }
  }

}

@each $name in $align-items {
  .align-#{$name} {
    align-items: $name;
  }
}

@each $name, $val in $flex-direction {
  .flex-dir-#{$name} {
    flex-direction: $val;
  }
}

@each $name in center, left, right {
  .text-#{$name} {
    text-align: $name;
  }
}

@for $index from 0 through 100 {

  .mt-#{$index} {
    margin-top: #{$index}px;
  }

  .mb-#{$index} {
    margin-bottom: #{$index}px !important;
  }

  .ml-#{$index} {
    margin-left: #{$index}px;
  }

  .mr-#{$index} {
    margin-right: #{$index}px;
  }

  // margin

  .m-#{$index} {
    margin: #{$index}px;
  }

  // padding

  .pt-#{$index} {
    padding-top: #{$index}px;
  }

  .pb-#{$index} {
    padding-bottom: #{$index}px;
  }

  .pl-#{$index} {
    padding-left: #{$index}px;
  }

  .pr-#{$index} {
    padding-right: #{$index}px;
  }

  // padding

  .p-#{$index} {
    padding: #{$index}px;
  }

  @for $index2 from 0 through 100 {
    
    .m-#{$index}-#{$index2} {
      margin: #{$index}px #{$index2}px;
    }

    .p-#{$index}-#{$index2} {
      padding: #{$index}px #{$index2}px;
    }
  }

  // line-height

  .line-h-#{$index} {
    line-height: #{$index}px;
  }

  // width

  .w#{$index} {
    width: #{$index}#{'%'};
  }

  .w-#{$index} {
    width: #{$index}px
  }

  // height

  .h#{$index} {
    height: #{$index}#{'%'};
  }

  .h-#{$index} {
    height: #{$index}px;
  }

}
